/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0b5a;
  height: 90px;
}

.header-btn {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 10px 20px;
}

.signup-btn {
  background-color: #ff6347;
}

.signup-btn:hover {
  background-color: #ee9473;
}

.login-btn {
  background-color: #0c0b5a;
}

.login-btn:hover {
  color: #bbb5b5;
}

.top-wrapper {
  /*背景画面の設定*/
  background-image: url("home1.png");
  background-size: cover; /*画面いっぱいに広げる*/
  background-position: center; /*画面の中央を基準にする*/
  background-attachment: fixed; /*スクロールしても画像は動かない*/

  min-height: calc(100vh - 90px);

  /*文字の箱を中央に寄せる*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*文字の設定*/
  text-align: center;
  color: white;
}

.top-wrapper h1 {
  font-size: 50px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.app-name {
  color: white;
  margin: 0 20px;
  font-size: 50px;
  display: flex;
  align-items: center;
}

.user-menu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 0 10px;
  color: white;
}

.user-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%; /*丸くする*/
  object-fit: cover; /*画像を歪ませずに切り抜く*/
}

.pulldown {
  position: absolute;
  top: 100%;
  right:0;
  display: none;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  min-width: 130px;
  padding: 10px 0;
  margin-top: 12px;
  z-index: 10;
}

.pulldown li {
  margin: 5px 0;
}

.pulldown a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  text-align: center; 
  color: #333;
}

.pulldown a:hover {
    color: #ff6347;
}

.active { /*このクラスがついたとき(クリックしたとき）に表示する*/
  display: block;
}

/*新規登録画面*/
.new-wrapper {
  min-height: calc(100vh - 90px);
  background-color: #dfdfdf;
  display: flex;
  justify-content:center;
  align-items: center;
}

.form-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 600px;
}

.new-title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

.require {
  color: #ff6347;
  margin: 0 5px;
  font-weight: bold;
}

.field {
  margin: 30px 0;
}

.form-label {
  display: inline-block;
  color: #4e4d4d;
}

.form-input {
  display: block;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  margin: 8px 0;
  background-color: #e4eafa;
  border: 1px solid #666;
  border-radius: 5px;
}

.password-hint {
  color: #666;
  font-style: normal;
  font-size: 13px;
}

.new-submit-btn {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ff6347;
  color: white;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s; /*時間をかけて変える*/
}

.new-submit-btn:hover {
  background-color: #ffa381;
}

.login-link {
  margin-top: 25px;
  text-align: center;
}

.login-link a {
  display: block;
  text-decoration: none;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 12px;
  background-color:white;
  color: #666;
  transition: 0.3s;
}

.login-link a:hover {
  background-color: #d1d1d1;
}

/*ログイン画面*/
.forgot-link {
  margin-top: 20px;
}

.forgot-link a {
  text-decoration: none;
  font-size: 15px;
  color: #666;
}

.forgot-link a:hover {
  text-decoration: underline;
}

/*アカウント＆プロフィール画面(設定：上段)*/
.show-container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: white;
}

.show-title {
  margin: 20px;
  color: #474646;
  font-size: 30px;
  font-weight: normal;
}

.switch-tabs {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
}

.tab-item {
  flex: 1;
  text-decoration: none;
  text-align: center;
  color: #999;
}

/*真ん中の仕切り線*/
.tab-item:first-child {
  border-right: 1px solid #ddd;
}

/*選択されているタブ(active)のスタイル*/
.tab-item.active{
  color: #ff6347;
}

.totop-link {
  text-align: center;
  margin-top: 70px;
}

.totop-link a {
  text-decoration: none;
  font-size: 17px;
  color: #999999;
}

.totop-link a:hover {
  text-decoration-line: underline;
}

/*アカウント＆プロフィール画面(下段)*/
.show-if {
  padding: 0 20px;
  margin-top: 50px;
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin: 30px 0;
  padding-bottom: 20px;
}

.account-title {
  color: #474646;
  font-size: 30px;
  font-weight: normal;
}

.edit-link {
  text-decoration: none;
  color:#2225d6 ;
  font-size: 20px;
  margin: 0 25px;
}

.edit-link:hover {
  text-decoration: underline;
}

.mail-field, .pass-field, .pic-field, .name-field, .intro-field {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}

.account-label {
 width: 200px; /*ラベル幅を固定することで右の値の開始位置が揃う*/
 font-weight: bold;
 color:  #474646;
}

.account-input {
  flex: 1;
}
