* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c0b5a;
  height: 90px;
}

.header-btn {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 10px 20px;
}

.signup-btn {
  background-color: #ff6347;
}

.signup-btn:hover {
  background-color: #ee9473;
}

.login-btn {
  background-color: #0c0b5a;
}

.login-btn:hover {
  color: #bbb5b5;
}

.top-wrapper {
  /*背景画面の設定*/
  background-image: url("home1.png");
  background-size: cover; /*画面いっぱいに広げる*/
  background-position: center; /*画面の中央を基準にする*/
  background-attachment: fixed; /*スクロールしても画像は動かない*/

  min-height: calc(100vh - 90px);

  /*文字の箱を中央に寄せる*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*文字の設定*/
  text-align: center;
  color: white;
}

.top-wrapper h1 {
  font-size: 50px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.search-field {
  display: flex;
  flex-direction: column; /*要素を縦に並べる*/
  justify-content: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 60px;
  width: 550px;
}

.search-field select,
.search-submit-btn {
  width: 100%; /*親要素いっぱいに広げて端を揃える*/
  padding: 15px; 
  border-radius: 5px;
  font-size: 18px;
}

.search-field select {
  color: #a09f9f;
  border: 2px solid #bdb8b8;
  }

.search-submit-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
}

.search-submit-btn:hover {
  background-color: #ffa381;
}

.app-name {
  color: white;
  margin: 0 20px;
  font-size: 55px;
  display: flex;
  align-items: center;
}

.top-logo {
  text-decoration: none;
  color: white;
  font-size: inherit; /*app-nameのサイズを継承する*/
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.top-logo:hover {
 opacity: 0.8;
}

.user-menu {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 0 10px;
  color: white;
}

.user-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%; /*丸くする*/
  object-fit: cover; /*画像を歪ませずに切り抜く*/
}

.pulldown {
  position: absolute;
  top: 100%;
  right:0;
  display: none;
  list-style: none;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  min-width: 130px;
  padding: 10px 0;
  margin-top: 12px;
  z-index: 10;
}

.pulldown li {
  margin: 5px 0;
}

.pulldown a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  text-align: center; 
  color: #333;
}

.pulldown a:hover {
    color: #ff6347;
}

.active { /*このクラスがついたとき(クリックしたとき）に表示する*/
  display: block;
}

/*通知メッセージのスタイル*/
.alert {
  padding: 10px;
  text-align: center;
  margin: 0;
  font-weight: bold;
  background-color: #dcf3e2;
}

/*新規登録画面*/
.new-wrapper {
  min-height: calc(100vh - 90px);
  background-color: #dfdfdf;
  display: flex;
  justify-content:center;
  align-items: center;
}

.form-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 600px;
}

.new-title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

.require {
  color: #ff6347;
  margin: 0 5px;
  font-weight: bold;
}

.field {
  margin: 30px 0;
}

.form-label {
  display: inline-block;
  color: #4e4d4d;
}

.form-input {
  display: block;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  margin: 8px 0;
  background-color: #e4eafa;
  border: 1px solid #666;
  border-radius: 5px;
}

.password-hint {
  color: #666;
  font-style: normal;
  font-size: 13px;
}

.new-submit-btn {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ff6347;
  color: white;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s; /*時間をかけて変える*/
}

.new-submit-btn:hover {
  background-color: #ffa381;
}

.login-link {
  margin-top: 25px;
  text-align: center;
}

.login-link a {
  display: block;
  text-decoration: none;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 12px;
  background-color:white;
  color: #666;
  transition: 0.3s;
}

.login-link a:hover {
  background-color: #d1d1d1;
}

/*ログイン画面*/
.forgot-link {
  margin-top: 20px;
}

.forgot-link a {
  text-decoration: none;
  font-size: 15px;
  color: #666;
}

.forgot-link a:hover {
  text-decoration: underline;
}

/*アカウント＆プロフィール画面(設定：上段)*/
.show-container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: white;
}

.show-title {
  margin: 20px;
  color: #474646;
  font-size: 30px;
  font-weight: normal;
}

.switch-tabs {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
}

.tab-item {
  flex: 1;
  text-decoration: none;
  text-align: center;
  color: #999;
}

/*真ん中の仕切り線*/
.tab-item:first-child {
  border-right: 1px solid #ddd;
}

/*選択されているタブ(active)のスタイル*/
.tab-item.active{
  color: #ff6347;
}

.totop-link {
  text-align: center;
  margin-top: 70px;
}

.totop-link a {
  text-decoration: none;
  font-size: 17px;
  color: #999999;
}

.totop-link a:hover {
  text-decoration-line: underline;
}

/*アカウント＆プロフィール画面(下段)*/
.show-if {
  padding: 0 20px;
  margin-top: 50px;
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin: 30px 0;
  padding-bottom: 20px;
}

.account-title {
  color: #474646;
  font-size: 30px;
  font-weight: normal;
}

.edit-link {
  text-decoration: none;
  color:#2225d6 ;
  font-size: 20px;
  margin: 0 25px;
}

.edit-link:hover {
  text-decoration: underline;
}

.mail-field, .pass-field, .pic-field, .name-field, .intro-field {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}

.account-label {
 width: 200px; /*ラベル幅を固定することで右の値の開始位置が揃う*/
 font-weight: bold;
 color:  #474646;
}

.account-input {
  flex: 1;
}

.user-icon-large {
  width: 70px;
  height: 70px;
  border-radius: 50%; /*円形*/
  object-fit: cover; /*画像の縦横比を崩さず収める*/
  border: 2px solid #ddd;
}

.profile-content {
  padding: 20px 0;
}

/*アカウント・プロフィール編集画面*/

.edit-form .field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

/*ラベルの幅を固定して、右側の入力欄の開始位置を揃える*/
.edit-form .form-label {
  width: 150px;
  color: #5c5a5a;
  flex-shrink: 0;
}

/*テキスト入力と自己紹介の枠*/
.edit-form .form-input-text {
  flex: 1;
  height: 45px;
  padding: 10px;
  background-color: #e4eafa;
  border: 1px solid #555555;
  border-radius: 5px;
  display: block;
}

.cancel-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #666;
  background-color: #FFF;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  transition: 0.3s;
}

.cancel-btn:hover {
  background-color: #f0f0f0;
  color: #333;
}

/*施設登録一覧画面*/

.room-index-container {
  width: 90%;
  margin: 40px auto;
}

.index-title {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: normal;
}

.room-table {
  width: 100%;
  border-collapse: collapse; /*線を一繋ぎにする*/
}

.room-table th {
  text-align: left;
  border-bottom: 2px solid #333;
  font-size: 15px;
  padding: 20px 20px;
}

.room-table td {
  padding: 20px 10px;
  border-bottom: 1px solid #dee2e6;
}

.table-img {
  width: 120px;
  max-width: 100%;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

.room-link {
  text-decoration: none;
  color: rgb(85, 124, 252);
  cursor: pointer;
}

.room-link:hover {
  text-decoration-line: underline;
}

.td-intro {
  width: 40%;
  font-size: 15px;
  color: #333;
}

.menu-dots {
  color: #666;
  font-size: 20px;
  cursor: pointer;
}

/*三点リーダーの設定*/
.room-menu-container {
  position: relative;
  display: inline-block;
}

.room-dropdown {
  display: none; /*最初は隠す*/
  position: absolute;
  right: 0;
  top: 25px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  z-index: 100;
  min-width: 80px;
}

/*メニューが表示された時用のクラス*/
.room-dropdown.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.delete-text {
  color: #ff6347;
}

/*施設検索ページ*/

.search-container{

}

.search-header {
  background-color: #f1f5f9;
  padding: 30px 0;
  margin-bottom: 20px;
}

.search-form-inline form {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 15px;
  padding: 15px 10px;

}

.form-group {
  background-color: white;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 280px;
}

.form-group input {
  border: none;
  outline: none;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
}

.form-group:focus-within {
  border-color: #ff7f50; /*入力中はオレンジの枠線*/
}

.search-btn {
  padding: 17px 30px;
  color: #474646;
  border: 1px solid #cbd5e1;
  border-radius: 7px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #ff9c8a;
}

.room-count {
margin: 20px;
padding: 0 20px;
font-size: 18px;
}

.room-list {
  display: flex;
  flex-wrap: wrap; /*幅がいっぱいになったら折り返す*/
  justify-content: center;
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.room-card {
  width: 480px;
  background: white;
  border-radius: 15px;
  overflow: hidden; /*画像の角丸を有効にする*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
}

.room-image img {
  width: 100%;
  height: 280px;
  object-fit: cover; /*比率を保ち切り抜く*/
}

.room-info {
  padding: 25px;
}

.room-info h3 a {
  text-decoration: none;
  color: #334155;
  font-size: 22px;
}

.room-address {
  color: #64748b;
  font-size: 14px;
  margin-top: 5px;
}

.room-description {
  margin: 15px 0;
  color: #475569;
  line-height: 1.6; /*行の高さを設定*/
  /*3行以上は省略する*/
  display: -webkit-box; /*レイアウトの適用*/
  -webkit-line-clamp: 3; /*最大3行までを表示する*/
  -webkit-box-orient: vertical; /*3行を垂直に並べる*/
  overflow: hidden; /*3行以上は見えない状態にする*/
}

.room-price {
  color: #eb582b;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.detail-btn {
  display: block;
  background-color: #ff7f50;
  color: white;
  text-align: center;
  padding: 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s;
}

.detail-btn:hover {
  background-color: #ff6347;
}
